.bodyb3 {
    justify-content: center; 
    align-content: center;
    align-items: center;
    margin:0;
    padding:0;
    display: flex;
    height: 100vh;
    width:100vw;
    background: url(warehouse4.png);
    background-size: cover;
    
  }

.main2 {
		display: 'flex';
        height: 60vh;
        background-color: rgba(245, 245, 245, 0.801);
        width: 25vw;
        box-shadow: 1px 1px 8px 3px #888888;
        font-family: 'Jost', sans-serif;
        border-radius: 15px;
}

.paper2{
    margin-top: 1.5vh;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: center;
    height: 40vh;
    font-family: 'Jost', sans-serif;
    
}
    
.claseUno2{
        justify-content: center;               
        display: flex;
        font-family: "sans-serif";
        margin-top: 0vh;
        margin-bottom: 4vh;
        font-family: 'Jost', sans-serif;
}

.form2 {
    width: '50%';
    margin-top: 15vh;
    margin-left: 5vh;
    height:100%;
    font-family: 'Jost', sans-serif;
}


.submit3 {     
    margin-bottom: 1vh;
    margin-top: -1vh;
    color: white;
    background: rgb(104, 182, 218);
    width: 90%;
    height:5vh;
    border-radius: 0%;
    font-family: 'Jost', sans-serif;
}

.submit3:hover{
    transition: 0.5s;
    background-color: #5093b9;
    cursor:pointer;
}

.submit4 {
    margin-bottom: 2vh;
    color: white;
    background: rgb(86, 137, 160);
    width: 90%;
    height:5vh;
    border-radius: 0%;
    font-family: 'Jost', sans-serif;
}

.submit4:hover{
    transition: 0.5s;
    background-color: #5093b9;
    cursor:pointer;
}